body{

  background: #5433FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'RocknRoll One', sans-serif;
}

h1{

text-align: center;
color: white;


}

#titulo{

margin-top: 20%;

}

@media(min-width:768px){

#caja1{

width: 80%;
margin: 0 auto;
margin-top:;
}

#cajanombre{

width: 80%;

}

#enviar{

width: 17%;

}
}

@media(max-width:768px){

#caja1{

width: 80%;
margin: 0 auto;
text-align: center;
}

#cajanombre{

width: 98%;

}

#enviar{


width: 100%;
margin-top: 5%;
margin-left: 5px;
}
}
